mxa-altinn-ws/src/main/castor/correspondence.confirmations.2009.10.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://schemas.altinn.no/services/intermediary/correspondence/confirmations/2009/10" elementFormDefault="qualified" targetNamespace="http://schemas.altinn.no/services/intermediary/correspondence/confirmations/2009/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CorrespondenceConfirmations">
    <xs:annotation>
      <xs:documentation>Raport over leste og bekreftede meldinger i Altinn siden forrige batch</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SequenceNo" type="xs:string" />
        <xs:element name="PreviousSequenceNo" type="xs:string" />
        <xs:element name="SystemUserCode">
          <xs:annotation>
            <xs:documentation>A code representing a system user, e.g. SKD-PSA, where the first three letters represents the service owner (mandatory) and the letters after the hyphen represents the department within the service owner (optional).</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
              <xs:minLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ShipmentDateTime" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Date indicating when the correspondence message should available and visible for the recipient in the portal or through services (optional).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" name="CountConfirmationsInShipment" type="xs:int" />
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Confirmation">
          <xs:annotation>
            <xs:documentation>En lest/godkjent Altut melding</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ServiceCode" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Service code, e.g. "PSA".</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ServiceEdition" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Service edition code, e.g. "2009" (optional). If not set the latest edition version will be used.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Reportee" type="xs:string" />
              <xs:element name="CorrespondenceReference" type="xs:string" />
              <xs:element name="Read">
                <xs:annotation>
                  <xs:documentation>Informasjon om lesing av den aktuelle Altut meldingen</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReadDateTime" type="xs:dateTime" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Confirmed">
                <xs:annotation>
                  <xs:documentation>Informasjon om bekrefting av den aktuelle Altut meldingen</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UserSSN" type="xs:string" />
                    <xs:element name="ConfirmedDateTime" type="xs:dateTime">
                      <xs:annotation>
                        <xs:documentation>Bekreftings tidspunkt</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ConfirmedRoleList" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Brukerens rolleliste på godkjennings tidspunktet</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AuthenticationMethod" type="xs:int">
                      <xs:annotation>
                        <xs:documentation>Brukerens login nivå ved godkjenning</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>